.App-header {
  /* top-nav */
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  
  background: #2E2B2A;
}

.App-logo {
  /* logo */
  position: absolute;
  width: 141.96px;
  height: 24.18px;
  left: 201px;
  top: 28px;
}

.Nav-text {
  position: absolute;
  width: 67px;
  height: 16px;
  left: 1012px;
  top: 20px;

  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #FFFFFF;
}

.Search-tool {
  /* Search Tool */

  width: 101px;
  height: 16px;
  left: 851px;

  font-weight: 700;
}

.About-us {
  /* About Us */

  width: 67px;
  height: 16px;
  left: 1012px;
}

.Login {
  /* Login/Sign Up */

  width: 101px;
  height: 16px;
  left: 1131px;
}

.Hero-Black {
  /* hero-bg */

  position: absolute;
  width: 100%;
  height: 280px;
  left: 0px;
  top: 80px;

  background: linear-gradient(47.55deg, #2E2B2A 3.32%, #1F1D1D 93.04%);
}

.Hero-Blue {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 360px;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
  display: flex;

  background: linear-gradient(260.82deg, #008CB6 0%, #DCE9ED 100%);
}

.Footer {
  /* footer */

  position: absolute;
  width: 100%;
  height: 85px;
  left: 0px;
  bottom: 0px;
  
  background: #1F1D1D;
}

.Tip {
  text-align: left;
}

.Text-Container1 {
  width: 40%;
  display: flex;
  justify-content: center;
  text-align:center;
}

.Text-Container2 {
  width: 50%
}

.Ask {
  /* ASK ME ANYTHING */

  position: absolute;
  width: 353px;
  height: 30px;
  left: 550px;
  top: 50px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  /* or 23px */

  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.Filter1 {
  /* Rectangle */
  padding-left: 40px;
  position: absolute;
  width: 290px;
  height: 50px;
  left: 376px;
  top: 110px;

  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
}

.Filter2 {
  /* Rectangle */
  padding-left: 40px;
  position: absolute;
  width: 290px;
  height: 50px;
  left: 728px;
  top: 110px;

  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
}

.Question {
  /* Rectangle */
  padding-left: 40px;
  position: absolute;
  width: 648px;
  height: 50px;
  left: 376px;
  top: 175px;

  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  display: flex;
}

.Arrow {
  width: 20px;
  height: 15px;
  vertical-align: middle;
  margin-left: 175px;
  margin-top: 0px;
}

.Search {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 5px;

}

.Response {
  /* We’re looking for the right answer... */

  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  /* or 42px */

  text-align: center;

  color: #2E2B2A;
}

.App {
  text-align: center;
}

.spinner {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: App-logo-spin infinite 2s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
